.ProjectBlurb {
    padding-top: 2vh;
    padding-bottom: 2vh;
    max-width: 30rem;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    text-align: center;
}

.ProjectBlurb p {
    text-align: justify;
    text-justify: inter-word;
    white-space: pre-line;
}

.ProjectBlurb h1 {
    text-align: left;
}

